<%- include("partials/adminHeader"); %>

<script>

    $(document).ready(function(){

        // STORE THE ARRAY INTO LOCAL ARRAY TO PERFORM OUR OPERATIONS ON IT
        let tmp1 = "<%= tmpArray %>";
        var localArray = tmp1.split(",");
        // alert(localArray);

        $("td").each(function(){
            var theText = $(this).text().split(" ")[0];
            var tdId = $(this).attr("id");
            localArray.forEach(function(el) {
                // CHECK IF THE td EQUALS THE UNAVAILABLE TIME IN THE ARRAY
                if (theText == el) {
                    $("#" + tdId + "").addClass("unselectable");
                }
            });
        });

        $("td").each(function(){
             var theText = $(this).text().split(" ")[0];
             var tdId = $(this).attr("id");

             if (theText === "<%=time%>") {
                $("#" + tdId).removeAttr("class");
                $("#" + tdId).addClass("time-to-update");
             }
        });

        // WHEN NEW TIME IS CHOSEN
        $("td").on("click", function(){
            // $("#appTime").val($(this).text().split(" ")[0]);
            // $("#formId").submit();
            if ($(this).hasClass("unselectable")) {
                swal({
                    title: "Time Unavailable",
                    text: "Please choose another time",
                    icon: "warning",
                });
            } else {
                swal({
                    title: "Update Appointment Time?",
                    icon: "info",
                    text: "You chose the time " + $(this).text().split(" ")[0].toString(),
                    buttons: ["Cancel", "Confirm"],
                }).then((choose) => {
                    if (choose) {
                        swal({
                            icon: "success",
                            title: "Time Updated!",
                        })
                        setTimeout(() => {
                            $("#appTime").val($(this).text().split(" ")[0]);
                            $("#formId").submit();
                        }, 2500); 
                    } else {
                        
                    }
                })
                // $("#appTime").val($(this).text().split(" ")[0]);
                // $("#formId").submit();
                // var arr = $(this).text().split(" ");
                // $("#hdn").val(arr[0]); 
                // $("#formId").submit();
            }
        });
    });
    
</script>

<div class="container choose-time-div">

    <h4 style="background-color: lightgreen; padding: 20px 5px; text-align: right; margin-bottom: 1%;">يرجى الإلتزام بالموعد المحدد للكشف, فى حالة التأخير عن الموعد المحدد يتم الإنتظار بعض الوقت للدخول للطبيب</h4>
    <h4 style="background-color: lightgreen; padding: 20px 5px; text-align: right; margin-bottom: 1%;">فى حالة تعديل الميعاد يتم الإتصال هاتفياً بالمركز لمعرفة المواعيد المتاحة فى حالة وجودها. <strong>وفى هذه الحالة يتم الإتصال قبل الميعاد الأساسى بمدة لا تقل عن ساعتين</strong></h4>
    <h4 style="background-color: #ebcd34; padding: 20px 5px; text-align: right; margin-bottom: 10%;">فى حالة عدم وجود مواعيد متاحة يتم التواصل بالهاتف للتأكد من إمكانية الكشف فى هذا اليوم من خلال رقم 01226229450</h4>

    <div class="box">
        <h1 class="box-heading"><i class="fa-regular fa-clock"></i> Appointment Time</h1>
    </div>

    <form action="/editChooseTime/:appId" method="post" id="formId">
        <div class="time-slots-div">
            <input id="appTime" type="text" style="position: absolute; visibility: hidden;" name="appointmentTime">
            <input style="position: absolute; visibility: hidden;" type="text" name="appointmentDate" value="<%= appointmentDate %>">
            <input style="position: absolute; visibility: hidden;" type="text" name="age" value="<%= age %>">
            <input style="position: absolute; visibility: hidden;" type="text" name="phone" value="<%= phone %>">
            <input style="position: absolute; visibility: hidden;" type="text" name="drName" value="<%= drName %>">
            <input style="position: absolute; visibility: hidden;" type="text" name="condition" value="<%= condition %>">
            <input style="position: absolute; visibility: hidden;" type="text" name="patientName" value="<%= patientName %>">
            <input style="position: absolute; visibility: hidden;" type="text" name="appId" value="<%= id %>">
            <table class="choose-time-table">
                <tr>
                    <td id="one" onclick="foo()">7:00 -> 7:15</td>
                    <td id="two" onclick="foo()">7:15 -> 7:30</td>
                    <td id="three" onclick="foo()">7:30 -> 7:45</td>
                    <td id="four" onclick="foo()">7:45 -> 8:00</td>
                </tr>
                <tr>
                    <td id="five" onclick="foo()">8:00 -> 8:15</td>
                    <td id="six" onclick="foo()">8:15 -> 8:30</td>
                    <td id="seven" onclick="foo()">8:30 -> 8:45</td>
                    <td id="eight" onclick="foo()">8:45 -> 9:00</td>
                </tr>
                <tr>
                    <td id="nine" onclick="foo()">9:00 -> 9:15</td>
                    <td id="ten" onclick="foo()">9:15 -> 9:30</td>
                    <td id="eleven" onclick="foo()">9:30 -> 9:45</td>
                    <td id="twelve" onclick="foo()">9:45 -> 10:00</td>
                </tr>
            </table>
        </div>
    </form>
</div>

<%- include("partials/footer"); %>