<%- include("partials/userHeader"); %>

<form action="/reservation" id="formId" method="POST">
  <div class="container" style="margin-top: 40px;">
    <div class="row">
      <div class="col" style="margin:10px 15%;">
        <input required style="text-align: center; font-weight: bold;" type="text" class="form-control" placeholder="Patient Name" name="patientName" value="<%=name%>">
      </div>
    </div>
    <div class="row">
      <div class="col" style="margin: 10px 0 10px 15%;">
        <input required style="font-weight: bold;" type="number" class="form-control" placeholder="Age" name="age" value="<%=age%>">
      </div>
      <div class="col" style="margin: 10px 15% 10px 0;">
        <input required style="font-weight: bold;" type="tel" class="form-control" placeholder="Phone Number" name="phone" value="<%=phone%>">
      </div>
    </div>
    <div class="row">
      <div class="col" id="doctorSelect" onchange="myFunction()" style="padding: 15px 0 15px 16%; font-weight: bold; font-size: 1.4rem;">
        <label for="dr-name">Doctor: </label>
        <select required style="width: 200px; font-size: 1rem; font-weight: bold; padding: 10px; text-align: center;" class="custom-select custom-select-lg mb-3" name="drName" id="dr-name">
          <option value="">...</option>
          <option value="Dr. Atef Aboulsoud">د/ عاطف أبوالسعود</option>
          <option value="Dr. Mervat Kabil">د/ ميرفت قابيل</option>
          <option value="Dr. Ahmed Atef">د/ أحمد عاطف</option>
        </select>
      </div>
    </div>
    <div class="row">
      <div class="col" style="padding: 15px 0 15px 16%; font-weight: bold; font-size: 1.4rem;">
        <label for="condition">Condition: </label>
        <select required id="cnd" onchange="showFee()" style="width: 200px; font-size: 1rem; font-weight: bold; padding: 10px; text-align: center;" class="custom-select custom-select-lg mb-3" name="condition" id="condition">
          <option value="">...</option>
        </select>
      </div>
    </div>
    <!-- <div class="row">
      <div class="col" style="padding: 15px 0 15px 16%;">
        <label style=" font-weight: bold; font-size: 1.4rem;" for="time">Time: </label>
        <input style=" font-weight: bold; font-size: 1.4rem;" type="time" min="19:00" max="22:00" id="time" name="appointmentTime" required>
        <small style="margin-left: 15px;">Working hours from 7pm to 10pm</small>
      </div>
    </div> -->
    <div class="row">
      <div class="col" style="padding: 15px 0 15px 16%;">
        <label style="font-size: 1.4rem; font-weight: bold;" for="date">Date: </label>
        <input style="font-size: 1.4rem; font-weight: bold;" type="date" name="appointmentDate" id="date" required>
        <small id="workingDays" style="margin-left: 15px;">Working days: [ All days except Fridays ]</small>
      </div>
    </div>
    <div style="text-align: center; margin-bottom: 30px; margin-top: 30px;">
      <button type="submit" class="btn btn-success btn-lg" id="submitBtn" name="button"> Proceed </button>
    </div>
  </div>
</form>

<script>

  $(document).ready(function(){
    // GET THE DATE OF TODAY TO DISABLE PAST DATES FROM BEING SELECTED
    var today = new Date();
    var dd = String(today.getDate()).padStart(2, '0');
    var mm = String(today.getMonth() + 1).padStart(2, '0'); //January is 0!
    var yyyy = today.getFullYear();

    today = yyyy + '-' + mm + '-' + dd;
    $("#date").attr("min", today);
  })

  function myFunction() {
    // alert($("#doctorSelect").find(":selected").text());

    if ($("#doctorSelect").find(":selected").text() === "د/ أحمد عاطف") {
      $("#cnd").empty();
      var o = new Option("...", "");
      var o1 = new Option("كشف", "كشف");
      var o2 = new Option("إستشارة", "إستشارة");
      var o3 = new Option("متابعة عملية", "متابعة عملية");
      $("#cnd").append(o);
      $("#cnd").append(o1);
      $("#cnd").append(o2);
      $("#cnd").append(o3);
    } else if ($("#doctorSelect").find(":selected").text() === "د/ ميرفت قابيل") {
      $("#cnd").empty();
      var o = new Option("...", "");
      var o1 = new Option("كشف", "كشف");
      var o2 = new Option("إستشارة", "إستشارة");
      var o3 = new Option("غسيل", "غسيل");
      var o4 = new Option("جهاز", "جهاز");
      var o5 = new Option("إستخراج جسم غريب بالأنف أو بالأذن", "إستخراج جسم غريب بالأنف أو بالأذن");
      $("#cnd").append(o);
      $("#cnd").append(o1);
      $("#cnd").append(o2);
      $("#cnd").append(o3);
      $("#cnd").append(o4);
      $("#cnd").append(o5);
    } else if ($("#doctorSelect").find(":selected").text() === "د/ عاطف أبوالسعود") {
      $("#cnd").empty();
      var o = new Option("...", "");
      var o1 = new Option("كشف", "كشف");
      var o2 = new Option("إستشارة", "إستشارة");
      var o3 = new Option("كشف خارجى", "كشف خارجى");
      var o4 = new Option("جهاز", "جهاز");
      var o5 = new Option("سونار", "سونار");
      $("#cnd").append(o);
      $("#cnd").append(o1);
      $("#cnd").append(o2);
      $("#cnd").append(o3);
      $("#cnd").append(o4);
      $("#cnd").append(o5);
    } else if ($("#doctorSelect").find(":selected").text() === "...") {
      $("#cnd").empty();
      var o = new Option("...", "");
      $("#cnd").append(o);
    }
  }

  $("#date").on("change",function(){
    // GET THE DAY INDEX TO SEE IF THE USER HAS CHOSEN A FRIDAY, FRIDAY INDEX IS 5
    var date = $(this).val();
    var dayIndex = new Date(date).getDay();
    
    if (dayIndex === 5) {
      $("#date").css("border", "solid 1px red");
      $("#date").css("color", "red");
      $("#workingDays").css("color", "red");
      $("#submitBtn").prop("disabled", true);
    } else {
      $("#date").css("border", "solid 1px lightgrey");
      $("#date").css("color", "black");
      $("#workingDays").css("color", "black");
      $("#submitBtn").prop("disabled", false);
    }
  });
</script>


<%- include("partials/footer"); %>
